.carousel slide{
    width: 440px;
    margin: 0 auto;
}

.carousel categoryslide{
    width: 440px;
    height: 440px;
    margin-bottom: 5px;
}

.product-category-instock{
    background: #baff89;
}

.product-category-notavailable{
    background: #ff8171;
}

.footer-card{
    position: absolute;
    bottom: 10px;
}

.center_div{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

footer {
    background: #343a40;
    padding: 40px;
    margin-top: 400px;
}
footer a {
    color: #f8f9fa!important
}

.param {
    margin-bottom: 7px;
    line-height: 1.4;
}
.param-inline dt {
    display: inline-block;
}
.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}
.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
}

.shopping-cart-wrap .price {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}
var {
    font-style: normal;
}

.media img {
    margin-right: 1rem;
}

.col-md-3{
    max-width: 50% !important;
}